<!DOCTYPE html5>
<html>
    <head>
        <meta charset="utf-8">
        <title>Att</title>
    </head>
    <body>
        <h1>Att</h1>
        <hr></hr>
        <form action="" method="POST">
            <table>
                {% for k in lista %}
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="name" value={{ k[1] }}></td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td><input type="text" name="age"  value={{ k[2] }}></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" name="email" value={{ k[3] }}></td>
                </tr>
               {% endfor %}
            </table><br>
            <input type="submit" value='Att'>
        </form>
        <a href="/">Back</a>
    </body>
</html>