<!DOCTYPE html5>
<html>
    <head>
        <meta charset="utf-8">
        <title>lista</title>
    </head>
    <body>
        <table border ="3">
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Age</td>
                <td>Email</td>
                <td>Delete</td>
                <td>Att</td>
            </tr>
            {% for k in lista %}
            <tr>
                <td>{{ k[0] }}</td>
                <td>{{ k[1] }}</td>
                <td>{{ k[2] }}</td>
                <td>{{ k[3] }}</td>
                <td><a href="/delete/{{ k[0] }}">X</a></td>
                <td><a href="/att/{{ k[0] }}">att</a></td>             
            </tr>
            {% endfor %}
        </table>
        <a href="/">Back</a>
    </body>
</html>
